<style lang="scss">
    img {
        height: 100%;
        width: auto;
    }

    .button-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        /*background-color: #f0f0f0;*/
        padding: 2rem;
        border-radius: 10px;
    }

    .button-item {
        width: 12rem;
        height: 12rem;
        padding: 1.5rem;
        display: flex; /* Centrado total */
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        text-align: center;
        cursor: pointer;
        background-color: #e6e6e6;
        border: 2px solid #0e2e40;
        border-radius: 8px;
        transition: transform 0.2s ease-in-out;
    }

    .button-item:hover {
        transform: scale(1.05);
    }

    .button-item img {
        width: 6rem;
        margin-bottom: 0.5rem;
    }

    .button-text {
        color: #0e2e40;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        font-size: 1.2rem;
        font-weight: bold;
    }
    /*
    .button-text::before {
        content: '🖌️';
        font-size: 1.2rem; 
    }*/
</style>

<!--
  <div class="xs:col-12 sm:col-6 md:col-4 xl:col-2 flex flex-column justify-content-center mx-auto mb-3">
    <img class="w-10rem" src="assets/gtm/images/LogoGTM.svg" alt="isotipo">
  </div>
  -->
<div class="col-12 button-container">
    <!--
    <div class="button-item" (click)="redirectMenu('/paneles-madera');">
      <img src="./assets/gtm/images/AdminCuentas.svg">
      <span class="button-text">PANELES MADERA </span>
    </div>
    
    <div class="button-item" (click)="redirectMenu('/pinturas-originales')">
        <span class="button-text">PINTURAS ORIGINALES </span>
    </div>-->
</div>
