<style>
.gray-background {
	background-color: lightgray;
 }
 .bisque-background {
	background-color: bisque !important;
 }
 .border-columns{
	border-right: solid 2px lightgray !important;
	border-bottom: solid 2px lightgray !important;
 }

 .mi-fecha {
   font-family: Arial, sans-serif;
   font-size: 16px;
   color: #333;
   border: 1px solid #ccc;
   border-radius: 4px;
   padding: 5px;
}
 </style>
<div class="ml-2 mr-2">
    <p-progressBar mode="indeterminate" [style]="{ height: '6px'}" *ngIf="progressBar"></p-progressBar>
</div>
<div class="grid grid-nogutter surface-0" style="border-radius: 10px; "> 
    <div class="col-12 pl-4 pt-2">
        <p class="text-xl font-bold" style="color: #0c475b;">> LIQUIDACIÓN DE CONSUMOS</p>
    </div>   	        
    <div class="col-12 md:col-12">
        <div class="p-2">      
            <p-table #dtTarjetas [value]="tarjetas" dataKey="id" [expandedRowKeys]="expandedRows" [rows]="20" responsiveLayout="scroll" [scrollable]="true" scrollHeight="445px" >
				<ng-template pTemplate="caption">
					<div class="grid col-12">
						<div class=" grid col-7">
							<div class="pr-2">
								<input type="date" [(ngModel)]="fechPeri" class="mi-fecha">
							</div>
							<div class="pr-2">
								<button class="p-element p-ripple p-button p-component p-button-info" (click)="traerLiquidaciones()"><span class="p-button-icon p-button-icon-left pi pi-search" aria-hidden="true"></span><span class="p-button-label">Consultar</span></button>                                                        
							</div>
							<div class="pr-2">
								<button pButton icon="pi pi-fw {{isExpanded ? 'pi-minus' : 'pi-plus'}}" class="p-element p-ripple p-button p-component p-button-secondary pi-sm" label="{{isExpanded ? 'Contraer Todo' : 'Expandir Todo'}}" (click)="expandAll()"></button>
							</div>
							<div >  
								<button class="p-element p-ripple p-button p-component p-button-success" (click)="exportToExcel()"><span class="p-button-icon p-button-icon-left pi pi-file-excel" aria-hidden="true"></span><span class="p-button-label">Exportar a Excel</span></button>                                                        
							</div>
						</div>
						<div class="col-5">
							<div class="grid ">
								<div class="pr-2">
									<p-chip class="p-chip p-chip-bisque" label="Transacciones de la cuenta seleccionada" styleClass="m-1"></p-chip>	
								</div>	
								<div >
								<p-chip class="p-chip p-chip-gray" label="Consumos anulados" styleClass="m-1"></p-chip>
								</div>
							</div>
						</div>    
					</div>        
				</ng-template>
				<ng-template pTemplate="header">
					<tr>
						<th style="width: 3rem"></th>
                        <th pSortableColumn="numePres">Cta. <p-sortIcon field="numePres"></p-sortIcon></th>
						<th pSortableColumn="sociedad">Sociedad <p-sortIcon field="sociedad"></p-sortIcon></th>						
						<th pSortableColumn="rubro">Rubro <p-sortIcon field="rubro"></p-sortIcon></th>
						<th pSortableColumn="nombActi">Actividad (Prestador) <p-sortIcon field="nombActi"></p-sortIcon></th>
						<th pSortableColumn="impoTota">Total c/Imp. <p-sortIcon field="impoTota"></p-sortIcon></th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-tarjeta let-expanded="expanded">
					<tr [ngClass]="{
						'gray-background': tarjeta.detalles[0].numeEsta === '0',
						'bisque-background': selectedSociedad.includes(tarjeta.sociedad)
					 }">
						<td>
							<button type="button" pButton pRipple [pRowToggler]="tarjeta" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" (click)="selectSociedad(tarjeta.sociedad)" style="width: 13px; height: 11px;"></button>
						</td>
						<td style="min-width: 12rem;">{{tarjeta.numePres}}</td>
						<td style="min-width: 8rem;">{{tarjeta.sociedad}}</td>
						<td style="min-width: 10rem;">{{ tarjeta.numePres ? 'prestador' : 'otro' }}</td>
                        <td style="min-width: 10rem;">{{tarjeta.nombActi}}</td>
                        <td style="min-width: 10rem;">{{tarjeta.impoTota}}</td>
					</tr>					
				</ng-template>
				<ng-template pTemplate="footer">
					<tr>
					  <td colspan="7">Total de la cuenta seleccionada: ${{calculateTotalBySocieties(selectedSociedad) | number:'1.2-2'}}</td>
					</tr>
				  </ng-template>
				<ng-template pTemplate="rowexpansion" let-tarjeta >
					<tr>
						<td colspan="7">
							<div class="p-3">
								<p-table [value]="tarjeta.detalles" dataKey="id" responsiveLayout="scroll">
									<ng-template pTemplate="header">
                                        <tr>                                           
                                            <th class="border-columns" style="border-left: solid 2px lightgray;">Fecha Transac.</th>						
                                            <th class="border-columns">Patente</th>						
                                            <th class="border-columns">Vehiculo</th>	
                                            <th class="border-columns">DNI</th>	
                                            <th class="border-columns">Producto</th>	
                                            <th class="border-columns">Cant. Lts.</th>	
                                            <th class="border-columns">P. Unitario</th>	
                                            <th class="border-columns">Tasa Vial</th>	
                                            <th class="border-columns">Tatal c/Imp.</th>	
                                            <th class="border-columns">Establecimiento</th>	
                                            <!--<th class="border-columns">N° Comerc.</th>-->
                                            <th class="border-columns" style="max-width: 100px;">Domicilio</th>	
                                            <th class="border-columns" style="max-width: 100px;">Localidad</th>	
                                            <th class="border-columns">Provincia</th>	
                                            <th class="border-columns">N° Tarjeta</th>	
                                            <!--<th class="border-columns">N° Factura</th>-->
                                        </tr>
				                    </ng-template>
				<ng-template pTemplate="body" let-detalle >
					<tr [ngClass]="{
						'gray-background': detalle.numeEsta === '0',
						'red-background': selectedSociedad.includes(tarjeta.sociedad)
					 }" >
						<td class="border-columns" style="border-left: solid 2px lightgray;">{{detalle.fechTran | date: 'dd/MM/yyyy HH:mm'}}</td>
						<td class="border-columns">{{detalle.pateMovi}}</td>
						<td class="border-columns">{{detalle.nombMovi}}</td>
                        <td class="border-columns">{{detalle.numeDocu}}</td>
                        <td class="border-columns">{{detalle.nombProd}}</td>
                        <td class="border-columns">{{detalle.cantProd}}</td>
                        <td class="border-columns">{{detalle.impoUnit}}</td>
                        <td class="border-columns">{{detalle.tasaVial}}</td>
                        <td class="border-columns">{{detalle.impoTota}}</td>
                        <td class="border-columns">{{detalle.nombCome}}</td>
                        <!--<td class="border-columns">{{detalle.numeCome}}</td>-->
                        <td class="border-columns" style="overflow: hidden;max-width: 100px;" pTooltip={{detalle.nombCall}}>{{detalle.nombCall}}</td>
                        <td class="border-columns" style="overflow: hidden;max-width: 100px;">{{detalle.nombLoca}}</td>
                        <td class="border-columns">{{detalle.nombProv}}</td>
                        <td class="border-columns">{{detalle.numeTarj}}</td>
                        <!--<td class="border-columns">{{detalle.numeFactComb}}</td>-->
					</tr>					
				</ng-template>				
			</p-table>			
        </div>       
         
                                     
  



