<div class="flex min-h-screen items-top justify-center p-[100px]">
    <div
        class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md h-[500px] flex flex-col items-center justify-center"
    >
        <!-- Título del formulario -->
        <h2
            class="text-5xl text-center text-gray-600 mb-6 font-serif tracking-wide pb-[50px]"
        >
            {{ isSignUpMode ? "Crear cuenta" : "Iniciar sesión" }}
        </h2>

        <!-- Mensaje de error si existe -->
        <div
            *ngIf="errorMessage"
            class="text-red-500 text-center mb-4 p-2 border border-red-500 rounded-md"
        >
            {{ errorMessage }}
        </div>

        <!-- Campos del formulario -->
        <div class="space-y-4">
            <input
                type="email"
                [(ngModel)]="email"
                placeholder="Correo electrónico"
                class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500 text-gray-800"
            />
            <input
                type="password"
                [(ngModel)]="password"
                placeholder="Contraseña"
                class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500 text-gray-800"
            />
            <div *ngIf="isSignUpMode">
                <input
                    type="password"
                    [(ngModel)]="confirmPassword"
                    placeholder="Confirmar contraseña"
                    class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500 text-gray-800"
                />
            </div>
            <button
                (click)="login()"
                class="w-full bg-blue-500 text-white py-3 rounded-lg hover:bg-blue-600 transition-all"
            >
                {{ isSignUpMode ? "Crear cuenta" : "Iniciar sesión" }}
            </button>
            <div class="text-center text-gray-500 my-2">O</div>
            <button
                (click)="loginWithGoogle()"
                class="w-full bg-red-400 text-white py-3 rounded-lg hover:bg-red-600 transition-all"
            >
                Iniciar sesión con Google
            </button>
            <div class="text-center mt-4">
                <p
                    class="text-sm text-blue-500 cursor-pointer"
                    (click)="toggleSignUp()"
                >
                    {{
                        isSignUpMode
                            ? "¿Ya tienes cuenta? Inicia sesión"
                            : "¿No tienes cuenta? Regístrate"
                    }}
                </p>
            </div>
        </div>
    </div>
</div>
