<style>
    .hidden-column {
        display: none;
    }
</style>

<div class="grid grid-nogutter surface-0" style="border-radius: 10px; min-width: 1100px; flex-shrink: 0; display: flex; flex-wrap: wrap;">
    
    <div class="pl-4 pt-3">
        <p class="text-xl font-bold" style="color: #0c475b;">> IMPORTACIÓN DE CONSUMOS</p>
    </div>    
    <div class="grid col-12 md:col-12">
    <div class="col-10 md:col-10">
        <app-process-timeline-gtc></app-process-timeline-gtc>
    </div>
    <div class="col-2 md:col-2 pt-5">
        <button type="button" class="p-button p-component p-button-outlined p-button-sm" (click)="mostrarConfiguracion();">
            <i class="pi pi-cog pr-2"></i>
            Config. de Columnas
        </button>
     </div> 
    </div>              
    <div class="col-12 md:col-12 p-2">
        <div >
            <div class="grid col-12 ">
                <div class="col-3" style="display: flex; flex-wrap: nowrap;">                    
                    <div class="inline pr-2">
                        <input type="file" id="myFile" class="file-input" (change)="readExcelFile($event)" />
                        <label for="myFile" style="white-space: nowrap;"><i class="pi pi-upload"> </i> IMPORTAR ARCHIVO</label>
                    </div>
                </div>
                <div class="col-6" style="display: flex; flex-wrap: nowrap;">
                    <div class="inline pr-2 pl-4" *ngIf="consumos.length > 0">
                        <input class="p-inputtext-sm" type="text" [(ngModel)]="porcentajeAjuste" style="width: 100px;" pInputText/>
                    </div>
                    <div class="inline pr-2" *ngIf="consumos.length > 0">
                        <button pbutton="" pripple="" class="p-element p-ripple p-button p-component p-button-primary p-button-sm" (click)="modificarTarifas()" style="white-space: nowrap;"><span class="p-button-icon p-button-icon-left pi pi-pencil" aria-hidden="true"></span><span class="p-button-label">MODIFICAR TARIFAS</span><span class="p-ink"></span></button>
                    </div>
                    <div class="inline pr-2" *ngIf="consumos.length > 0">
                        <button pbutton="" pripple="" class="p-element p-ripple p-button p-component p-button-success p-button-sm" (click)="grabar()" style="white-space: nowrap;"><span class="p-button-icon p-button-icon-left pi pi-save" aria-hidden="true"></span><span class="p-button-label">GRABAR EN BD</span><span class="p-ink"></span></button>
                    </div>                                       
                </div>                        
                <div class="pt-3 pr-2 d-flex justify-content-end ml-auto">
                    <span class="p-input-icon-right ">
                        <i class="pi pi-search"></i>                       
                        <input pInputText type="text" [(ngModel)]="filtro" #filter (input)="onGlobalFilter(dtconsumos)" style="width:180px;" />                           
                    </span>               
                    <p-button (click)="limpiarConsulta()" class="ml-3">
                        <i class="pi pi-refresh" ></i>
                    </p-button>
                  </div>
            </div>   
            <p style="color: #0c475b;" *ngIf="this.fechPeri">Periodo: {{formatearFecha()}}</p>          
        </div>                 
        <p-table #dtconsumos [value]="consumos" [loading]="loading" [rows]="20" [paginator]="true" selectionMode="single" [rowHover]="true" styleClass="p-datatable-gridlines" responsiveLayout="scroll" [tableStyle]="{'min-width': '30rem','height':'320px'}" [scrollable]="true" scrollHeight="350px" [globalFilterFields]="newColsOrder">                                
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of newColsOrder" >
                  {{ col }}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
              <tr>
                <td *ngFor="let col of newColsOrder" >
                  {{ rowData[col] }}
                </td>
              </tr>
            </ng-template>
          </p-table>                                                
            
        <div style="color:#0c475b">Cantidad de transacciones: {{cantidadRegistros}}</div>            
    </div>     
    <p-dialog [(visible)]="configuracionDialog" header="Configuracion de Columnas Excel" [modal]="true" [style]="{width:'1100px'}">            
            <div class="col-3" style="display: flex; flex-wrap: nowrap;">                    
                <div class="inline pr-2">
                    <input type="file" id="miFile" class="file-input" (change)="readExcelColumns($event)" />
                    <label for="miFile" style="white-space: nowrap;"><i class="pi pi-upload"> </i> CARGAR COLUMNAS</label>
                </div>
            </div>
            <div class="col-12 grid pl-6 ml-5 pt-0 pb-0">
                <div class="col-6" style="font-style: italic;">Columnas del excel</div>
                <div class="col-6" style="font-style: italic;">Columnas a mostrar en la grilla</div>
            </div>
            
            <p-pickList [source]="columnsTotal" [target]="selectedColumns" [sourceStyle]="{'height':'20rem'}" [targetStyle]="{'height':'10rem'}" (onMoveToTarget)="onMoveToTarget($event)" [dragdrop]="true">
                <ng-template let-col pTemplate="item">
                    <div class="picklist-item">
                        <div *ngIf="!col.editing" class="picklist-content">
                            <span *ngIf="!isInTargetList(col)">{{col.campoExcel}}</span> 
                            <span *ngIf="isInTargetList(col)">{{col.campoOrden}}</span>       
                            <div class="picklist-buttons">            
                                <p-dropdown 
                                    [options]="itemBDOptions" 
                                    [(ngModel)]="col.itemBD"
                                    appendTo="body"
                                    *ngIf="!isInTargetList(col)">
                                </p-dropdown>
                                <!-- Mostrar el botón de editar solo en la lista target -->
                                <button *ngIf="isInTargetList(col)" pButton icon="pi pi-pencil" class="p-button-rounded p-button-text" 
                                        (click)="isInTargetList(col) ? startEditing(col) : null">
                                </button>
                            </div>
                        </div>
                        <div *ngIf="col.editing" class="picklist-content">
                            <input [(ngModel)]="col.campoOrden" />
                            <div class="picklist-buttons">                               
                            <button pButton icon="pi pi-check" class="p-button-rounded p-button-text" 
                                (click)="isInTargetList(col) ? confirmEdit(col) : null">
                            </button>
                            <button pButton icon="pi pi-times" class="p-button-rounded p-button-text" 
                                (click)="isInTargetList(col) ? cancelEdit(col) : null">
                            </button>
                            </div> 
                        </div>
                    </div>
                </ng-template>
            </p-pickList>

            <ng-template pTemplate="footer">        
                <button pButton pRipple icon="pi pi-check" class="p-button-text p-button-sm" label="ACEPTAR" (click)="guardarRelaciones()" ></button>
                <button pButton pRipple icon="pi pi-times" class="p-button-text p-button-sm" label="CANCELAR" (click)="cancelarConfiguracion()" ></button>
            </ng-template>
    </p-dialog>

</div> 
  
