<div class="layout-wrapper" [ngClass]="containerClass">
    <app-topbar></app-topbar>
    <div class="layout-sidebar">
        <app-sidebar></app-sidebar>
    </div>
    <div class="layout-main-container">
        <div class="layout-main">
            <div class="surface-ground px-4 md:px-6 lg:px-6">              
                <router-outlet></router-outlet>
            </div>    
        </div>
        <p-toast key="tst"></p-toast>
        <app-footer></app-footer>
    </div>
    <!-- <app-config></app-config>     -->
    <div class="layout-mask"></div>
</div>
