<div class="bg-white">
    <div class="layout-topbar flex flex-row justify-center">
        <div class="flex items-center space-x-10">
            <a
                routerLink="/tabla-contactos"
                class="text-gray-500 font-semibold hover:underline text-sm"
                >INICIO</a
            >
            <a
                routerLink="/contacto"
                class="text-gray-500 font-semibold hover:underline text-sm"
                >CLIENTES</a
            >
        </div>
    </div>
</div>
